In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
connection_string = 'postgresql' + '://' + 'buddyadmin' + ':' + \
                    'fintechbuddy' + '@' + 'postgres-buddy.ctzb27aixti7.ap-southeast-1.rds.amazonaws.com:5432' + '/' + \
                    'buddymldb'

In [4]:
engine = create_engine(connection_string)

In [5]:
data_df = pd.read_sql_query("""select * from user_network_details""", con=engine)

In [8]:
data_df.head()

,uuid,network_uuid,network_id
0,8660542698,9611191661,2
1,7795246117,9538629444,2
2,9740320701,9206430835,2
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1
4,7676360933,7795988665,2

In [11]:
data_df.shape

(197370, 3)

In [12]:
credit_score_df = pd.read_sql_query("""SELECT credit_risk_uuid.* FROM credit_risk_uuid, (
    SELECT credit_risk_uuid.uuid as uid, MAX(credit_risk_uuid.created_at) AS c_at 
    FROM credit_risk_uuid 
    GROUP BY credit_risk_uuid.uuid
) a where credit_risk_uuid.uuid = a.uid and credit_risk_uuid.created_at = a.c_at""", con=engine)

In [13]:
credit_score_df.shape

(48618, 7)

In [14]:
result_df = pd.merge(data_df,credit_score_df,how="left",on="uuid")

In [15]:
result_df.drop(['max_dpd_user','model_credit_score','model_credit_score','created_at','model_proba_default','probability_of_default'], axis=1, inplace=True)

In [16]:
result_df.shape

(197370, 4)

In [17]:
result_df.rename(columns = {'credit_score':'user_credit_score'}, inplace=True)

In [18]:
final_df = pd.merge(result_df, credit_score_df, left_on='network_uuid',right_on='uuid', how="left")

In [19]:
final_df.drop(['max_dpd_user','model_credit_score','model_credit_score','created_at','model_proba_default','probability_of_default'], axis=1, inplace=True)

In [20]:
final_df.drop('uuid_y',axis= 1,inplace=True)

In [21]:
final_df.head()

,uuid_x,network_uuid,network_id,user_credit_score,credit_score
0,8660542698,9611191661,2,600.799810,607.021215
1,7795246117,9538629444,2,NaN,799.394880
2,9740320701,9206430835,2,798.452916,783.129331
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,600.000000,797.879410
4,7676360933,7795988665,2,NaN,782.319798

In [22]:
final_df.rename(columns = {'credit_score':'user_credit_score','uuid_x':'user_uuid'}, inplace=True)

In [23]:
final_df.duplicated(subset=['user_uuid','network_uuid','network_id'], keep='first').sum()

42858

In [24]:
final_df.loc[~final_df.duplicated(subset=['user_uuid','network_uuid','network_id'], keep='first'),:]

,user_uuid,network_uuid,network_id,user_credit_score,user_credit_score
0,8660542698,9611191661,2,600.799810,607.021215
1,7795246117,9538629444,2,NaN,799.394880
2,9740320701,9206430835,2,798.452916,783.129331
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,600.000000,797.879410
4,7676360933,7795988665,2,NaN,782.319798
5,7411631664,8083299245,2,NaN,NaN
6,e8c82bc0-de19-11e6-aa79-1bde32099ed8,7411001943,2,602.678066,785.345390
7,e3f6d850-1db9-11e7-9206-af497475ad17,2c32ee30-0e4f-11e7-a48f-19477d62de23,1,648.787025,782.627034
8,3592a900-2d5a-11e7-9dfe-85394b1021d9,5a664180-f67b-11e6-9388-d588daabb8b4,4,NaN,799.390812
9,0895fb70-d3e4-11e6-b537-3bb6a1158e1a,8296490815,1,786.936908,735.435110
10,c02c8bb0-1d30-11e7-a1f9-1f21e945de24,2dfefbd0-e011-11e6-89e5-bf4923c964eb,1,799.988640,799.999622
11,3a76b5a0-ea8f-11e6-9cfe-d10c509d1d15,7338527272,1,722.355963,799.999622
12,77b69aa0-e9bf-11e6-8e75-87909e99c2b7,0bab7ea0-ee58-11e6-ac35-7d60aa46fc46,1,798.450852,799.996198
13,05b87910-0def-11e7-aba4-39bc64788177,7411532624,1,799.999622,607.141900
14,8892535718,8986120992,2,603.286436,797.879410
15,43057800-d81a-11e6-bb28-c5ff3e287f1f,cf3cbea0-f340-11e6-a416-237cec6f0926,1,701.402558,NaN
16,7348857745,7795441858,2,764.693422,NaN
17,5504b750-e1ed-11e6-b685-7942eecceaad,8553229080,1,799.981096,608.350119
18,0bb27770-dc18-11e6-a58f-f56442324be3,8050314893,1,601.568726,NaN
19,b42c1df0-1f59-11e7-b1d4-9bef54b95a0c,f5faf480-f606-11e6-a0bb-bd22a392fd0f,1,799.246592,600.000000
20,f36499b0-1b8b-11e7-8b5c-c1f141be6aef,8892321575,1,601.791011,799.999622
21,2539a2e0-ed11-11e6-b549-d7229f1efe4a,cece5d20-edf5-11e6-ac35-7d60aa46fc46,1,799.997455,799.997455
22,2f0d32e0-d93f-11e6-82d3-fd24bf89adaf,53d30080-d95a-11e6-82d3-fd24bf89adaf,1,604.548264,610.994277
23,5d64ba50-1ed1-11e7-9206-af497475ad17,03c060b0-06eb-11e7-a766-3df485f623e7,1,752.968535,799.985339
24,aa8ccfd0-1d9f-11e7-9206-af497475ad17,708cc190-1571-11e7-9880-75fe9a2a5ff5,1,600.000000,799.394880
25,097c9240-ec4b-11e6-b549-d7229f1efe4a,a3119db0-ec23-11e6-87ae-5d96773fd1d7,1,799.991107,657.519948
26,ddd4bf30-e058-11e6-89e5-bf4923c964eb,9686725532,1,615.020557,NaN
27,9035415327,9482022896,1,602.999345,603.511160
28,8197809017,8197038349,2,NaN,799.999622
29,9480334888,7411476099,1,746.739154,608.126564
...,...,...,...,...,...
197338,9aac8440-4471-11e7-82bb-a31c9da1611a,1ec3dea0-43a4-11e7-883e-f57d0cd5eff3,1,637.507143,799.602062
197339,fcef0c80-4814-11e7-9306-2978722822b3,8277cc40-35a3-11e7-a07a-ed0e0be37306,1,649.644659,NaN
197340,b936e110-4a9a-11e7-8aac-4929d01fb850,1f409450-ed63-11e6-ac35-7d60aa46fc46,1,637.507143,NaN
197342,c9ec1210-49d6-11e7-a507-f5927a22aa15,c80a5af0-450e-11e7-883e-f57d0cd5eff3,1,651.692636,791.383101
197343,d5d3e310-186b-11e7-bc32-ebd9cf0f5a7b,aa8daa20-17c0-11e7-bc32-ebd9cf0f5a7b,1,602.137286,601.519502
197344,f84d8db0-136b-11e7-9488-cfed55cb83d7,44f72320-23fb-11e7-b2b0-ab92f3e5b5d8,1,799.393683,NaN
197345,a513fe80-33ce-11e7-9439-251300a6b262,eb059100-1bc4-11e7-a1f9-1f21e945de24,1,799.800851,NaN
197346,4688f810-4a9a-11e7-bdd5-9b39d08b0870,ed8988f0-49c8-11e7-a507-f5927a22aa15,1,651.692636,774.954514
197347,73313770-4a94-11e7-8aac-4929d01fb850,561316f0-3deb-11e7-8604-85352cd80e04,1,651.692636,796.958180
197348,64e71da0-4a95-11e7-8aac-4929d01fb850,9036204348,1,657.519948,611.563406
197349,49be0c20-416a-11e7-9e1e-35fe86349263,8bb1f560-42e1-11e7-82bb-a31c9da1611a,1,799.998365,NaN
197350,d568a790-410f-11e7-ab5b-35330f4a4ac3,c525b3d0-3f77-11e7-ab5b-35330f4a4ac3,1,NaN,799.797101
197351,e193e560-4a98-11e7-bdd5-9b39d08b0870,9dabaec0-3f74-11e7-ab5b-35330f4a4ac3,1,637.507143,799.252354
197352,ab840e60-4a10-11e7-bdd5-9b39d08b0870,4a60de30-26c3-11e7-9d70-a9f74712d401,2,649.644659,698.047533
197353,d1b38210-4852-11e7-a507-f5927a22aa15,a88c5210-09ad-11e7-b7d3-87109c3be552,2,774.954514,798.933729
197354,188809b0-4aa4-11e7-bdd5-9b39d08b0870,97ab44e0-1ce2-11e7-a1f9-1f21e945de24,2,NaN,799.971278
197355,0960bf60-45fc-11e7-883e-f57d0cd5eff3,a88c5210-09ad-11e7-b7d3-87109c3be552,2,NaN,798.933729
197356,90fb2420-39f8-11e7-8604-85352cd80e04,8971962719,2,772.906536,NaN
197357,9845487526,8ed6e6b0-448f-11e7-82bb-a31c9da1611a,1,651.692636,651.692636
197358,089d9f40-4092-11e7-ab5b-35330f4a4ac3,3817f200-250f-11e7-a5a6-4f8df49e39ea,1,772.906536,798.254514
197359,28374f40-4a97-11e7-bdd5-9b39d08b0870,392b2b10-10a8-11e7-b211-a3f095992c52,1,NaN,603.296962
197360,96110800-4aa4-11e7-bdd5-9b39d08b0870,211f8700-30ce-11e7-9439-251300a6b262,1,651.692636,799.964638
197361,511ac1a0-4a95-11e7-8aac-4929d01fb850,8892822983,1,NaN,799.999622
197362,0481ceb0-42b1-11e7-883e-f57d0cd5eff3,9738832342,1,649.644659,NaN
197364,25a153d0-4541-11e7-82bb-a31c9da1611a,5dd5ea90-1bcf-11e7-9206-af497475ad17,1,651.692636,797.867796
197365,9e474e00-4aa2-11e7-8aac-4929d01fb850,b3cbc080-3639-11e7-a07a-ed0e0be37306,1,651.692636,773.364607
197366,390a6ed0-4a9f-11e7-8aac-4929d01fb850,62e5ea10-0402-11e7-addd-dff279f8190b,1,649.644659,799.999622
197367,84366df0-49b4-11e7-b112-f718fc441a53,cdb70ad0-1051-11e7-b617-6ba6b5287d49,1,637.507143,799.980282
197368,07e1c020-4a94-11e7-8aac-4929d01fb850,8884344885,1,NaN,787.562069
197369,0945eb00-1702-11e7-a87d-0dcbd8daf5f1,aca83a60-10e9-11e7-ab58-0bc299d8b80b,1,772.906536,783.445687

In [25]:
final_df.drop_duplicates(subset=['user_uuid','network_uuid','network_id'], keep='first', inplace=True)

In [26]:
final_df.shape

(154512, 5)

In [27]:
final_df.to_csv('filtered_network_data.csv')

In [28]:
final_df.rename(columns = {'user_credit_score':'user_credit_score','user_credit_score':'network_credit_score'}, inplace=True)

In [29]:
final_df.head()

,user_uuid,network_uuid,network_id,network_credit_score,network_credit_score
0,8660542698,9611191661,2,600.799810,607.021215
1,7795246117,9538629444,2,NaN,799.394880
2,9740320701,9206430835,2,798.452916,783.129331
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,600.000000,797.879410
4,7676360933,7795988665,2,NaN,782.319798

In [30]:
final_df.columns

Index([           u'user_uuid',         u'network_uuid',
                 u'network_id', u'network_credit_score',
       u'network_credit_score'],
      dtype='object')

In [31]:
final_df.columns.values[3] = 'user_credit_score'

In [32]:
final_df.head()

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
0,8660542698,9611191661,2,600.799810,607.021215
1,7795246117,9538629444,2,NaN,799.394880
2,9740320701,9206430835,2,798.452916,783.129331
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,600.000000,797.879410
4,7676360933,7795988665,2,NaN,782.319798

In [33]:
final_df['user_credit_score'].isnull().sum()

55367

In [34]:
final_df.loc[~final_df['user_credit_score'].isnull(),:]

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
0,8660542698,9611191661,2,600.799810,607.021215
2,9740320701,9206430835,2,798.452916,783.129331
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,600.000000,797.879410
6,e8c82bc0-de19-11e6-aa79-1bde32099ed8,7411001943,2,602.678066,785.345390
7,e3f6d850-1db9-11e7-9206-af497475ad17,2c32ee30-0e4f-11e7-a48f-19477d62de23,1,648.787025,782.627034
9,0895fb70-d3e4-11e6-b537-3bb6a1158e1a,8296490815,1,786.936908,735.435110
10,c02c8bb0-1d30-11e7-a1f9-1f21e945de24,2dfefbd0-e011-11e6-89e5-bf4923c964eb,1,799.988640,799.999622
11,3a76b5a0-ea8f-11e6-9cfe-d10c509d1d15,7338527272,1,722.355963,799.999622
12,77b69aa0-e9bf-11e6-8e75-87909e99c2b7,0bab7ea0-ee58-11e6-ac35-7d60aa46fc46,1,798.450852,799.996198
13,05b87910-0def-11e7-aba4-39bc64788177,7411532624,1,799.999622,607.141900
14,8892535718,8986120992,2,603.286436,797.879410
15,43057800-d81a-11e6-bb28-c5ff3e287f1f,cf3cbea0-f340-11e6-a416-237cec6f0926,1,701.402558,NaN
16,7348857745,7795441858,2,764.693422,NaN
17,5504b750-e1ed-11e6-b685-7942eecceaad,8553229080,1,799.981096,608.350119
18,0bb27770-dc18-11e6-a58f-f56442324be3,8050314893,1,601.568726,NaN
19,b42c1df0-1f59-11e7-b1d4-9bef54b95a0c,f5faf480-f606-11e6-a0bb-bd22a392fd0f,1,799.246592,600.000000
20,f36499b0-1b8b-11e7-8b5c-c1f141be6aef,8892321575,1,601.791011,799.999622
21,2539a2e0-ed11-11e6-b549-d7229f1efe4a,cece5d20-edf5-11e6-ac35-7d60aa46fc46,1,799.997455,799.997455
22,2f0d32e0-d93f-11e6-82d3-fd24bf89adaf,53d30080-d95a-11e6-82d3-fd24bf89adaf,1,604.548264,610.994277
23,5d64ba50-1ed1-11e7-9206-af497475ad17,03c060b0-06eb-11e7-a766-3df485f623e7,1,752.968535,799.985339
24,aa8ccfd0-1d9f-11e7-9206-af497475ad17,708cc190-1571-11e7-9880-75fe9a2a5ff5,1,600.000000,799.394880
25,097c9240-ec4b-11e6-b549-d7229f1efe4a,a3119db0-ec23-11e6-87ae-5d96773fd1d7,1,799.991107,657.519948
26,ddd4bf30-e058-11e6-89e5-bf4923c964eb,9686725532,1,615.020557,NaN
27,9035415327,9482022896,1,602.999345,603.511160
29,9480334888,7411476099,1,746.739154,608.126564
30,9900424873,9611882398,2,799.863363,608.826314
31,9880323959,9972731631,1,759.570043,799.931096
32,5d59b670-d596-11e6-ab9c-b9d415934a06,9590782099,1,600.000000,608.346733
33,b0f58610-0fd9-11e7-b617-6ba6b5287d49,80946b30-0f20-11e7-b617-6ba6b5287d49,1,799.394880,798.452916
38,7022216121,8197018385,1,661.158369,607.735940
...,...,...,...,...,...
197332,ab840e60-4a10-11e7-bdd5-9b39d08b0870,514b2170-1263-11e7-9d96-e9cdeb4076fc,3,649.644659,NaN
197333,0fca7d30-4aa4-11e7-8aac-4929d01fb850,178c8270-f8f1-11e6-84c4-afdbd4a41bc0,1,649.644659,799.336693
197334,c7a85e10-1dac-11e7-a1f9-1f21e945de24,61614be0-03c0-11e7-b013-17a85456059b,1,605.159012,799.999622
197335,15616d60-4556-11e7-82bb-a31c9da1611a,5f6d7ce0-f9d5-11e6-9fa6-57bd32534eca,1,651.692636,770.918279
197336,b597af30-4a77-11e7-8aac-4929d01fb850,739a8b90-4539-11e7-82bb-a31c9da1611a,1,651.692636,600.000000
197337,ec81bed0-035c-11e7-b013-17a85456059b,f22b6570-fa65-11e6-9fa6-57bd32534eca,1,799.371299,NaN
197338,9aac8440-4471-11e7-82bb-a31c9da1611a,1ec3dea0-43a4-11e7-883e-f57d0cd5eff3,1,637.507143,799.602062
197339,fcef0c80-4814-11e7-9306-2978722822b3,8277cc40-35a3-11e7-a07a-ed0e0be37306,1,649.644659,NaN
197340,b936e110-4a9a-11e7-8aac-4929d01fb850,1f409450-ed63-11e6-ac35-7d60aa46fc46,1,637.507143,NaN
197342,c9ec1210-49d6-11e7-a507-f5927a22aa15,c80a5af0-450e-11e7-883e-f57d0cd5eff3,1,651.692636,791.383101
197343,d5d3e310-186b-11e7-bc32-ebd9cf0f5a7b,aa8daa20-17c0-11e7-bc32-ebd9cf0f5a7b,1,602.137286,601.519502
197344,f84d8db0-136b-11e7-9488-cfed55cb83d7,44f72320-23fb-11e7-b2b0-ab92f3e5b5d8,1,799.393683,NaN
197345,a513fe80-33ce-11e7-9439-251300a6b262,eb059100-1bc4-11e7-a1f9-1f21e945de24,1,799.800851,NaN
197346,4688f810-4a9a-11e7-bdd5-9b39d08b0870,ed8988f0-49c8-11e7-a507-f5927a22aa15,1,651.692636,774.954514
197347,73313770-4a94-11e7-8aac-4929d01fb850,561316f0-3deb-11e7-8604-85352cd80e04,1,651.692636,796.958180
197348,64e71da0-4a95-11e7-8aac-4929d01fb850,9036204348,1,657.519948,611.563406
197349,49be0c20-416a-11e7-9e1e-35fe86349263,8bb1f560-42e1-11e7-82bb-a31c9da1611a,1,799.998365,NaN
197351,e193e560-4a98-11e7-bdd5-9b39d08b0870,9dabaec0-3f74-11e7-ab5b-35330f4a4ac3,1,637.507143,799.252354
197352,ab840e60-4a10-11e7-bdd5-9b39d08b0870,4a60de30-26c3-11e7-9d70-a9f74712d401,2,649.644659,698.047533
197353,d1b38210-4852-11e7-a507-f5927a22aa15,a88c5210-09ad-11e7-b7d3-87109c3be552,2,774.954514,798.933729
197356,90fb2420-39f8-11e7-8604-85352cd80e04,8971962719,2,772.906536,NaN
197357,9845487526,8ed6e6b0-448f-11e7-82bb-a31c9da1611a,1,651.692636,651.692636
197358,089d9f40-4092-11e7-ab5b-35330f4a4ac3,3817f200-250f-11e7-a5a6-4f8df49e39ea,1,772.906536,798.254514
197360,96110800-4aa4-11e7-bdd5-9b39d08b0870,211f8700-30ce-11e7-9439-251300a6b262,1,651.692636,799.964638
197362,0481ceb0-42b1-11e7-883e-f57d0cd5eff3,9738832342,1,649.644659,NaN
197364,25a153d0-4541-11e7-82bb-a31c9da1611a,5dd5ea90-1bcf-11e7-9206-af497475ad17,1,651.692636,797.867796
197365,9e474e00-4aa2-11e7-8aac-4929d01fb850,b3cbc080-3639-11e7-a07a-ed0e0be37306,1,651.692636,773.364607
197366,390a6ed0-4a9f-11e7-8aac-4929d01fb850,62e5ea10-0402-11e7-addd-dff279f8190b,1,649.644659,799.999622
197367,84366df0-49b4-11e7-b112-f718fc441a53,cdb70ad0-1051-11e7-b617-6ba6b5287d49,1,637.507143,799.980282
197369,0945eb00-1702-11e7-a87d-0dcbd8daf5f1,aca83a60-10e9-11e7-ab58-0bc299d8b80b,1,772.906536,783.445687

In [35]:
# final_df.loc[~final_df['network_credit_score'].isnull(),:].shape
final_df = final_df.loc[~final_df['user_credit_score'].isnull(),:]

In [36]:
final_df.head()

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
0,8660542698,9611191661,2,600.799810,607.021215
2,9740320701,9206430835,2,798.452916,783.129331
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,600.000000,797.879410
6,e8c82bc0-de19-11e6-aa79-1bde32099ed8,7411001943,2,602.678066,785.345390
7,e3f6d850-1db9-11e7-9206-af497475ad17,2c32ee30-0e4f-11e7-a48f-19477d62de23,1,648.787025,782.627034

In [37]:
final_df.network_id.value_counts()

5    26457
3    24687
1    23620
2    18455
4     5926
Name: network_id, dtype: int64

In [38]:
final_df_referral = final_df[final_df.network_id==3]

In [39]:
final_df_referral.head()

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
105,8553383519,9738930151,3,602.180711,NaN
115,f7633360-f9b1-11e6-a9c5-4f0b16583440,5d745180-f9c0-11e6-8558-8f833f3076cd,3,664.116614,603.549948
116,f7633360-f9b1-11e6-a9c5-4f0b16583440,31622790-fdab-11e6-89b6-5ff7811f812a,3,664.116614,605.259469
199,8147807376,7204609571,3,799.995350,NaN
200,8105682408,7760810397,3,642.989050,785.345390

In [40]:
final_df_referral.head()

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
105,8553383519,9738930151,3,602.180711,NaN
115,f7633360-f9b1-11e6-a9c5-4f0b16583440,5d745180-f9c0-11e6-8558-8f833f3076cd,3,664.116614,603.549948
116,f7633360-f9b1-11e6-a9c5-4f0b16583440,31622790-fdab-11e6-89b6-5ff7811f812a,3,664.116614,605.259469
199,8147807376,7204609571,3,799.995350,NaN
200,8105682408,7760810397,3,642.989050,785.345390

In [41]:
final_df_referral.shape

(24687, 5)

In [42]:
df_8152002106 = final_df_referral[final_df_referral.user_uuid=='8152002106']
# final_df_referral.user_uuid.value_counts()

In [43]:
df_8152002106.head()

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
3848,8152002106,7353823625,3,799.980158,799.999622
3850,8152002106,8762151300,3,799.980158,762.046832
3851,8152002106,8197236207,3,799.980158,695.667802
4063,8152002106,8884801621,3,799.980158,601.396469
12153,8152002106,3b458d00-fe88-11e6-89b6-5ff7811f812a,3,799.980158,798.821374

In [44]:
final_df_referral.head()

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
105,8553383519,9738930151,3,602.180711,NaN
115,f7633360-f9b1-11e6-a9c5-4f0b16583440,5d745180-f9c0-11e6-8558-8f833f3076cd,3,664.116614,603.549948
116,f7633360-f9b1-11e6-a9c5-4f0b16583440,31622790-fdab-11e6-89b6-5ff7811f812a,3,664.116614,605.259469
199,8147807376,7204609571,3,799.995350,NaN
200,8105682408,7760810397,3,642.989050,785.345390

In [45]:
df_remove_nan = final_df.loc[~final_df['network_credit_score'].isnull(),:]

In [46]:
df_remove_nan.head()

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
0,8660542698,9611191661,2,600.799810,607.021215
2,9740320701,9206430835,2,798.452916,783.129331
3,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,600.000000,797.879410
6,e8c82bc0-de19-11e6-aa79-1bde32099ed8,7411001943,2,602.678066,785.345390
7,e3f6d850-1db9-11e7-9206-af497475ad17,2c32ee30-0e4f-11e7-a48f-19477d62de23,1,648.787025,782.627034

In [47]:
df_remove_nan = df_remove_nan[df_remove_nan.network_id==3]

In [48]:
df_remove_nan

,user_uuid,network_uuid,network_id,user_credit_score,network_credit_score
115,f7633360-f9b1-11e6-a9c5-4f0b16583440,5d745180-f9c0-11e6-8558-8f833f3076cd,3,664.116614,603.549948
116,f7633360-f9b1-11e6-a9c5-4f0b16583440,31622790-fdab-11e6-89b6-5ff7811f812a,3,664.116614,605.259469
200,8105682408,7760810397,3,642.989050,785.345390
205,8105682408,7829833982,3,642.989050,784.107971
206,8105682408,9845075927,3,642.989050,651.418879
276,8553229080,5504b750-e1ed-11e6-b685-7942eecceaad,3,608.350119,799.981096
279,8553229080,a6a65210-e1ef-11e6-b685-7942eecceaad,3,608.350119,799.944763
439,8553229080,9313bcf0-e2ae-11e6-b685-7942eecceaad,3,608.350119,799.944763
440,8553229080,428eeac0-e2d6-11e6-b685-7942eecceaad,3,608.350119,780.732688
590,9901908531,7996909083,3,603.578490,605.967513
714,7275084496,80e15cc0-d356-11e6-9a50-69e550d843a9,3,799.989611,722.562480
715,7275084496,9740676439,3,799.989611,799.386771
717,7275084496,7090826507,3,799.989611,799.863363
718,7275084496,8077917435,3,799.989611,723.998888
719,7275084496,9071006253,3,799.989611,795.517762
720,7275084496,9982267012,3,799.989611,799.981096
721,7275084496,8094188644,3,799.989611,799.863363
722,7275084496,9742417683,3,799.989611,764.452380
725,7275084496,8544334138,3,799.989611,764.599642
726,7275084496,9538047621,3,799.989611,603.949804
728,7275084496,9917892656,3,799.989611,600.000000
729,7275084496,9471320619,3,799.989611,799.981096
731,7275084496,9741119414,3,799.989611,723.998888
732,7275084496,8951195912,3,799.989611,603.826771
734,7275084496,9986973754,3,799.989611,600.000000
735,7275084496,8549853348,3,799.989611,799.863363
736,7275084496,8120005873,3,799.989611,799.863363
737,7275084496,9966967009,3,799.989611,799.863363
738,7275084496,7899068379,3,799.989611,603.826771
741,7275084496,9535953870,3,799.989611,799.887112
...,...,...,...,...,...
194783,367903d0-d807-11e6-9f02-55bfbead9d00,d13d1c60-0d74-11e7-90e1-f35ff19ffbaa,3,798.452916,785.994943
194785,367903d0-d807-11e6-9f02-55bfbead9d00,1511a620-0ee4-11e7-ba38-b1a965693ffd,3,798.452916,600.859046
194786,367903d0-d807-11e6-9f02-55bfbead9d00,5c71f850-120c-11e7-9d96-e9cdeb4076fc,3,798.452916,798.709566
194787,367903d0-d807-11e6-9f02-55bfbead9d00,4eca4e00-1879-11e7-bc32-ebd9cf0f5a7b,3,798.452916,606.763925
194788,367903d0-d807-11e6-9f02-55bfbead9d00,8ab7de70-1a93-11e7-b84b-4da549a86121,3,798.452916,797.287434
194789,367903d0-d807-11e6-9f02-55bfbead9d00,05a557d0-1da9-11e7-a1f9-1f21e945de24,3,798.452916,798.446525
194791,367903d0-d807-11e6-9f02-55bfbead9d00,cf1b23b0-1f70-11e7-b1d4-9bef54b95a0c,3,798.452916,799.382357
194792,367903d0-d807-11e6-9f02-55bfbead9d00,2b979ac0-1f75-11e7-b1d4-9bef54b95a0c,3,798.452916,604.160365
194793,367903d0-d807-11e6-9f02-55bfbead9d00,ce3e3cb0-202a-11e7-b1d4-9bef54b95a0c,3,798.452916,799.990169
194794,367903d0-d807-11e6-9f02-55bfbead9d00,2949ed10-202c-11e7-b1d4-9bef54b95a0c,3,798.452916,608.149353
194804,a88c5210-09ad-11e7-b7d3-87109c3be552,a88c5210-09ad-11e7-b7d3-87109c3be552,3,798.933729,798.933729
195105,8168e510-20ee-11e7-b2b0-ab92f3e5b5d8,423f4550-3d45-11e7-b98d-05a810b7bc33,3,799.661178,761.570501
195119,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,8a782f40-3ee3-11e7-8954-3dd362feb293,3,790.896485,799.806919
195120,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,8c851160-2c7b-11e7-9dfe-85394b1021d9,3,790.896485,797.302191
195123,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,f998b140-388c-11e7-b98d-05a810b7bc33,3,790.896485,774.954514
195128,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,94183b10-3c47-11e7-8604-85352cd80e04,3,790.896485,795.443519
195129,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,909a5af0-3ee4-11e7-ab5b-35330f4a4ac3,3,790.896485,799.351111
195141,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,240fa110-3f7f-11e7-8954-3dd362feb293,3,790.896485,799.778874
195142,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,749a1d40-4083-11e7-ab5b-35330f4a4ac3,3,790.896485,799.806919
195143,de0f7d90-1245-11e7-9d96-e9cdeb4076fc,0e8db6a0-4110-11e7-8954-3dd362feb293,3,790.896485,799.647121
195368,6c9e57b0-4113-11e7-8954-3dd362feb293,1a344e50-4189-11e7-8f4d-eb750cd475b2,3,799.980282,651.692636
195838,a756b150-3a0a-11e7-8604-85352cd80e04,ae160a20-3f6b-11e7-8954-3dd362feb293,3,799.684656,799.272959
196439,a1c8b170-115b-11e7-9d96-e9cdeb4076fc,739a8b90-4539-11e7-82bb-a31c9da1611a,3,651.692636,600.000000
196546,a100ed70-de3e-11e6-aa79-1bde32099ed8,6776b640-eddc-11e6-ac35-7d60aa46fc46,3,799.999622,799.999622
196717,632ec500-f7f0-11e6-9a0a-89e8b7c29667,cc4064f0-f8da-11e6-84c4-afdbd4a41bc0,3,607.818295,607.999017
196888,35568730-398b-11e7-8604-85352cd80e04,81a984b0-3b12-11e7-8604-85352cd80e04,3,774.954514,799.992539
196889,35568730-398b-11e7-8604-85352cd80e04,bef79a60-3bca-11e7-8604-85352cd80e04,3,774.954514,799.665203
196890,35568730-398b-11e7-8604-85352cd80e04,48da49a0-3e3a-11e7-8604-85352cd80e04,3,774.954514,601.509865
196891,35568730-398b-11e7-8604-85352cd80e04,6a44bef0-3f60-11e7-8954-3dd362feb293,3,774.954514,600.000000
196893,35568730-398b-11e7-8604-85352cd80e04,2b51bd20-416c-11e7-825d-579e3734a399,3,774.954514,602.725687

In [49]:
X = df_remove_nan[['network_credit_score','network_id']]
X.head()

     network_credit_score  network_id
115            603.549948           3
116            605.259469           3
200            785.345390           3
205            784.107971           3
206            651.418879           3

In [50]:
y = df_remove_nan['user_credit_score']

In [58]:
df_remove_nan.to_csv('referral_network.csv')
# from sklearn.linear_model import LinearRegression

In [86]:
counts = df_remove_nan.user_uuid.value_counts()
# df_remove_nan[df_remove_nan.user_uuid.isin(df_remove_nan.user_uuid.value_counts() > 1)]
# counts.head()
counts[counts > 1]
# linreg = LinearRegression()

8880007747                              73
8105734372                              71
34c85c00-e2db-11e6-b685-7942eecceaad    67
9742704753                              59
8880580320                              58
9642490000                              58
9620004029                              57
9738012743                              56
9496334860                              53
8904877907                              52
d5e7a690-e3d0-11e6-b685-7942eecceaad    51
8792636761                              49
9035558959                              43
8152002106                              43
4a60de30-26c3-11e7-9d70-a9f74712d401    42
3187eb00-e470-11e6-93fa-ddfa474de486    42
833661a0-e13e-11e6-b3a5-01d081544184    42
2e287790-eaab-11e6-9cfe-d10c509d1d15    42
9886677046                              40
8892980779                              40
9620195830                              40
7899081088                              38
8986120992                              38
9880971320                              37
7892897927                              36
7676655676                              35
7204118995                              35
8970465326                              34
9738378800                              34
7022122956                              33
                                        ..
3b3fbd60-105f-11e7-9341-ab1be10fc204     2
80b810d0-f4ea-11e6-8357-6d3a2cfbf265     2
d39da340-e604-11e6-bad3-41c45880c942     2
eb5a3270-1cfd-11e7-9206-af497475ad17     2
a8a910f0-1897-11e7-bc32-ebd9cf0f5a7b     2
9899626969                               2
8147133250                               2
cee86120-dec8-11e6-a358-d98f3e23f3dc     2
7259612972                               2
8797892771                               2
8971099578                               2
9686565903                               2
821a2c60-e324-11e6-b685-7942eecceaad     2
9003219720                               2
8553996045                               2
7406552662                               2
8861755908                               2
c31fa5d0-2287-11e7-b2b0-ab92f3e5b5d8     2
7204937233                               2
819144a0-0e16-11e7-aba4-39bc64788177     2
9206980068                               2
9986042605                               2
9901853808                               2
45f94600-00be-11e7-b7bb-7f2e06093546     2
7019134359                               2
9fe68a40-fe9f-11e6-89b6-5ff7811f812a     2
9019758483                               2
f4985ff0-2569-11e7-9d70-a9f74712d401     2
b917ef70-1157-11e7-9d96-e9cdeb4076fc     2
7090535337                               2
Name: user_uuid, dtype: int64

In [53]:
# X.shape

(13226, 2)

In [54]:
# import numpy as np

        network_credit_score  network_id
115               603.549948           3
116               605.259469           3
200               785.345390           3
205               784.107971           3
206               651.418879           3
276               799.981096           3
279               799.944763           3
439               799.944763           3
440               780.732688           3
590               605.967513           3
714               722.562480           3
715               799.386771           3
717               799.863363           3
718               723.998888           3
719               795.517762           3
720               799.981096           3
721               799.863363           3
722               764.452380           3
725               764.599642           3
726               603.949804           3
728               600.000000           3
729               799.981096           3
731               723.998888           3
732               603.826771           3
734               600.000000           3
735               799.863363           3
736               799.863363           3
737               799.863363           3
738               603.826771           3
741               799.887112           3
...                      ...         ...
194783            785.994943           3
194785            600.859046           3
194786            798.709566           3
194787            606.763925           3
194788            797.287434           3
194789            798.446525           3
194791            799.382357           3
194792            604.160365           3
194793            799.990169           3
194794            608.149353           3
194804            798.933729           3
195105            761.570501           3
195119            799.806919           3
195120            797.302191           3
195123            774.954514           3
195128            795.443519           3
195129            799.351111           3
195141            799.778874           3
195142            799.806919           3
195143            799.647121           3
195368            651.692636           3
195838            799.272959           3
196439            600.000000           3
196546            799.999622           3
196717            607.999017           3
196888            799.992539           3
196889            799.665203           3
196890            601.509865           3
196891            600.000000           3
196893            602.725687           3

[13226 rows x 2 columns]

In [56]:
# X = np.reshape(X.shape[0],1)
# linreg.fit(X,y)

/Library/Python/2.7/site-packages/scipy/linalg/basic.py:1018: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [57]:
# print('Coefficients: \n', linreg.coef_)

('Coefficients: \n', array([ 0.18386862,  0.        ]))