In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('network_data_final.csv')

In [6]:
data.head()

,uuid,network_uuid,network_id,network_credit_score,user_credit_score,network_type
0,8660542698,9611191661,2,610.896263,605.274901,referrer
1,7795246117,9538629444,2,787.670469,NaN,referrer
2,d7421df0-3e5b-11e7-b98d-05a810b7bc33,9902740710,1,694.387867,NaN,friend
3,9740320701,9206430835,2,782.688818,783.087540,referrer
4,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,782.602943,605.043503,friend

In [7]:
data['network_type'].value_counts()

referral    253950
friend       26572
referrer     22820
contact      21454
fb           21368
Name: network_type, dtype: int64

In [19]:
df_1 = data.uuid.value_counts()
df_1.head()

f02878d0-244f-11e7-97d8-f33e7cd2befe    82392
373be160-3a2d-11e7-b98d-05a810b7bc33    82270
d827d430-27cc-11e7-9c3d-eb8ca978a96d    75492
8152002106                                239
9738378800                                141
Name: uuid, dtype: int64

In [58]:
final_df = data[data.uuid != 'f02878d0-244f-11e7-97d8-f33e7cd2befe']
final_df = final_df[final_df.uuid != '373be160-3a2d-11e7-b98d-05a810b7bc33']
final_df = final_df[final_df.uuid != 'd827d430-27cc-11e7-9c3d-eb8ca978a96d']
(final_df.uuid.value_counts() > 1).value_counts()
# f_df = final_df[final_df.uuid.isin(final_df.uuid.value_counts() > 1)]
# final_df.drop_duplicates()
# final_df.shape
# final_df = final_df[final_df.uuid.value_counts() > 1]
#  & data.uuid != '373be160-3a2d-11e7-b98d-05a810b7bc33' & data.uuid != 'd827d430-27cc-11e7-9c3d-eb8ca978a96d'

False    37296
True     11101
Name: uuid, dtype: int64

In [26]:
final_df.head()

,uuid,network_uuid,network_id,network_credit_score,user_credit_score,network_type
0,8660542698,9611191661,2,610.896263,605.274901,referrer
1,7795246117,9538629444,2,787.670469,NaN,referrer
2,d7421df0-3e5b-11e7-b98d-05a810b7bc33,9902740710,1,694.387867,NaN,friend
3,9740320701,9206430835,2,782.688818,783.087540,referrer
4,644fb3b0-e3cb-11e6-b685-7942eecceaad,44ae7fd0-d306-11e6-b551-2f5c6833db7e,1,782.602943,605.043503,friend